<li>
  <ul>
    <li>
      <%= note.body %></td>
    </li>
    <li>
      <%= note.timestamp %></td>
    </li>
    <li>
      <%= link_to 'Edit', edit_instrument_note_path(@instrument, note) %></td>
      <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </li>
  </ul>
</li>
